html {
  height: 100%;
  width: 100%;
}
  

  body {
    background-color: orange;
  }
    table {
        widht: 1200PX;
        border-collapse: collapse;
      }
        th, td {
          border: 2px solid black;
          padding: 8px;
          text-aling: center;
        }
        th {
          background-color: orange;
        color: green;
        }
        h1 {
          color:black;
        }
        p {
          color: green;
          font-size: 20px;
          font-family: COMIC SANS MS;
        }
        a {
          color: black;
          font-size: 20px;
          font-family: COMIC SANS MS;
        }

          h2 {
            color: green;
            font-size: 20px;
            font-family: COMIC SANS MS;
          }

          #sobre{
            background-color: green;
            border: 10px solid blue;
            padding: 20px;
            
          }

          .sobre{
            color:green;
            font-weight:bold;
            font-size:18px;
            font-family: COMIC SANS MS;
          }
                

        